/* GENERAL */

* {
    font-size: 16px;
    
}

body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 90vh; 
        
}


/* DIV CONTAINER */

.container {
    display: -webkit-boxkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column ;
                    flex-direction: column ;
                    
}

h2 {
    margin-bottom: 38px;
}

