<footer>
    <nav>
        <div class="navBar">
            <button routerLink="" type="menu">
                <img src="assets/icons/list.png" alt="Liste des tâches">
            </button>
            <button routerLink="/tasks" type="menu">
                <img src="assets/icons/plus.png" alt="Ajout des tâches">
            </button>
            <button routerLink="/historical" type="menu">
                <img src="assets/icons/historical.png" alt="Historique des tâches">
            </button>
        </div>
    </nav>
</footer>
