.categorie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:
     vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: col;
            flex-direction: col;
}

.buttonCategorie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    gap: 10px;
} 

button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg2);
    cursor: pointer;
}

.buttonCategorie button.selected {
    background-color: var(--yellow);
}

p {
    font-size: 16px;
    margin: 28px 0;
}

/* Textarea */
textarea {
    display: block;
    width: 84vw;
    background-color: var(--bg2);
    border: none;
    font-size: 16px;
    padding: 24px 0 0 17px;
}

/* Enlever la bordure */
textarea:focus {
    outline: none;
}

  
/* CHECKBOX*/

.customCheckbox {
    margin-top: 28px;
    font-size: 16px;
}

.checkbox{
    width: 25px;
    height: 25px;
    background-color: var(--bg2);
    border-radius: 50%;
    vertical-align: middle;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    margin-right: 11px;
    cursor: pointer;
}

.checkbox:checked {
    background-color: var(--pink);
}

.checkbox:checked:after {
    content: '✔';
    color: white;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2px;
} 


/* BUTTON DE VALIDATION */

.buttonValidate {
    text-align: center;
    cursor: pointer;
}

.validate {
    display: inline-block;
    font-size: 16px;
    background-color: var(--blue);
    margin-top: 142px;
    width: 248px;
    border-radius: 30px;
}